*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:rgba(219, 215, 215, 1);
    background-size: 100%;
    overflow: auto;
    font-family: 'Italiana', serif;
}
p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 300px;
    margin: auto;
}